body {
    padding-top: 60px;
    padding-bottom: 40px;
}



/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
 }

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* styles for removing the background from form */
.no-color {
  background-color: white;
  border-style:none;
}






form {
    margin-bottom:5px;
}


#user-side-menu-small {
    margin-left: -4em;
}
#user-page {
    margin-left: 10px;
}

#user-page_user-header h2,hr{
    margin-top:0px;
    margin-left:20px;
}

#user-page_user-img {
    margin-left: 0px;
}
#user-page_user-info dd,dt{
    display: inline;
}
#user-page_user-info ul{
    list-style: none;
}
#user-page_user-info {
    margin:auto;
}
.user-page_user-info-divider p{
    margin-left:20px;
}
.user-page_user-info-divider hr{
    margin-right: 2em;
    margin-top:0.8em;
}
#user-page_posts h4{
    margin-top: 0px;
    margin-bottom: 2px;
}
.post-author-img{
    margin-top: 3px;
}


.new-post-textarea{
    width: 97%;
    resize:none;
}


.new-comment_non-focused p{
    display:none;
}
.new-comment_non-focused button{
    display:none;
}

.new-comment_non-focused textarea{
    height:1.4em;  
    margin-bottom:0px;  
}

.new-comment_non-focused form{
    margin-bottom:0px; 
}
.null-padding {
    padding-top:0px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
}

.group-page  .span6{
    margin-left:0px;
}
.group-page  .span9{
    margin-left:15px;
}

.group-page  .span3{
    margin-left:0;
}
#group-page_group-avatar  .thumbnail{
   margin-left:0;
   margin-bottom:1em;
   padding-left:-5px;
   padding-right:-5px;
}

.group-page h4 {
    margin-bottom:0;
}

.group-page h5 {
    margin:0;
}

.group-page p {
    font-size:smaller;
    margin-bottom:3px;
}

.wide{
  width:100%;
  margin:auto;
}

.group-page_group-actions button{
    margin-top:0.5em;
}

#group-page_group-info hr{
    margin-left:0px;
    margin-right:15px;
}

#group-page_group-members-caption {
    margin-top:1em;
    margin-bottom:1em;
}

#group-page_group-members-caption h5 {
    font-size:larger;
}

#group-page_side .thumbnails {
    margin-left:0;
}

#group-page_side .thumbnails .thumbnail{
    margin-left:0;
    margin-right:16px;
}

#group-page_side p {
    margin-bottom:0;
}

#group-page_admins-info {
    margin-left:10px;
}
.group-description-text {
    font-weight:900;
}

#group-page_post-form {
    margin-right:1em;
}
#group-page_posts {
    margin-right:1.2em;
}

.null-margin, .group-page .null-margin {
    margin-top:0px;
    margin-bottom:0px;
    margin-left:0px;
    margin-right:0px;
}
.group-page .media {
    margin-top: 0.5em;
}
.message-page_middle-text {
    display:inline-block;
    margin-top:1em;
    vertical-align:top;
}
.small {
    font-size:smaller;
    margin-top:1.4em;
    margin-left:1em;
    margin-right:1em;
}

.message:hover {
  background-color:#eaeaff;
  cursor:pointer;
    
}

.post-comment-form {
    margin-top:0.5em;
}

.new-comment-link :hover {
    cursor: pointer;
    text-decoration: underline;
}
p + .timestamp{
    font-size:x-small;
    line-height:100%;
}

#group-page_group-members-preview a:hover {
    text-decoration:none;
}

/*Message overview*/

#message-overview hr{
    margin-left:0px;
    margin-bottom: 0px;
}

textarea {
    resize:none;
}


/*Group edit page*/
#group-edit-page .well{
    margin-bottom:0px;
}

#group-edit-page_tab {
    margin-bottom:0;
}

#group-edit-page_tab-content {
    padding: 1em;
}

#group-edit-page .control-group label {
    display:inline;
    vertical-align:top;
    font-weight: bolder;
    margin-right: .7em;
}

#group-edit-page .control-group textarea {
    width: 300px;
    height: 5em;
}

#group-edit-page .control-group input {
    width: 300px;
}

#group-edit-page .control-group .radio input{
    width: auto;
}