@model SocialNetwork.WebUI.Models.ShowGroupViewModel

@{
    var path = "Group/Show/" + Model.Group.GroupId;
}
<div style="border: solid ridge 1px; border-radius: 4px;">
   
    <a href=@path><p>@Model.Group.Name</p></a>
    <p class="muted">@Model.Group.GroupId</p>
</div>
