<div class="media">
    <a class="pull-left post-author-img" href="#">
        <img class="media-object thumbnail" src=http://f2.foto.rambler.ru/preview/c/64x64/431aa75b-c1ee-6ba7-b753-aa7c76b5cd31/world64x64.jpg>
    </a>
    <div class="media-body">
        <h5 class="media-heading">Pony Stew</h5>
        <p>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
            ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus
            viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congu
            e felis in faucibus.
        </p>
        <p class="muted timestamp null-margin">
            11.10.2013 at 12:44
            <span class="new-comment-link">| <strong class="text-info comment-trigger ">Add comment</strong></span>
        </p>
        <div class="comment-adding-part hidden">
            <div class="post-comment-form well well-small">
                <p><strong>Add comment:</strong></p>
                <form>
                    <textarea class="new-post-textarea new-comment-textarea first-comment-textarea" placeholder="Enter you comment here..."></textarea>
                    <button class="btn btn-primary">Send</button>
                </form>
                @Html.BeginForm("Create", "CommentsController",  FormMethod.Post)
            </div>
        </div>
    </div>
</div>
