@model SocialNetwork.WebUI.Models.ProfileViewModel
@{
    ViewBag.Title = "Group Page";

}


<div class="row group-page">
    <div class="span9">
        <div class="span6" id="group-page_group-info">
            <div id="group-page_group-header">
                <h4 class="">Heroes of Might and Magic III Horn of the Abyss</h4>
                <p class="muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                <hr />
            </div>
            <div class="row">
                <div id="group-page_group-decription" class="span5">
                    <p class="group-description-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Suspendisse eu ultrices orci. Mauris gravida arcu nisi, et molestie
                        tellus ultricies a. Donec arcu ante, dictum in augue et, rutrum auctor
                        sapien. In pulvinar ac justo non vestibulum. Morbi auctor velit id congue
                        rhoncus. In at felis at leo tincidunt lacinia. Maecenas sagittis ipsum nec
                        velit lacinia, vel egestas justo volutpat. Vivamus cursus vestibulum velit
                        id gravida. Mauris auctor magna sed ante mattis consequat eu eu erat. Nunc
                        imperdiet enim suscipit, consectetur elit ac, porta erat. Maecenas dolor metus,
                        aliquet vel risus dignissim, lacinia tincidunt mauris.
                    </p>
                </div>
            </div>
            <hr />

            <div id="group-page_post-form" class="well well-small">
                <p class=""><strong>New Post:</strong></p>
                @using(Html.BeginForm("Create", "Post", FormMethod.Post))
                {
                     @Html.TextAreaFor(m => m.PostContent, 
                                       new { @class = "new-post-textarea",
                                             id = "group-page_new-post-input",
                                             placeholder = "Input your message here..."
                                           });
                     <input type="submit" class="btn btn-primary" value="Send" />
                }
            </div>
                @*<div id="group-page_post-form" class="well well-small">
                    <p class=""><strong>New Post:</strong></p>
                    <form class="null-margin">
                        <textarea class="new-post-textarea" placeholder="Input your message here..."
                                  id="group-page_new-post-input"></textarea>

                        <button class="btn btn-primary">Send</button>
                    </form>
                </div>*@

                <div id="group-page_posts">
                    <div class="media">
                        <a class="pull-left post-author-img" href="#">
                            <img class="media-object thumbnail" src=http://f2.foto.rambler.ru/preview/c/64x64/431aa75b-c1ee-6ba7-b753-aa7c76b5cd31/world64x64.jpg>
                        </a>
                        <div class="media-body">
                            <h5 class="media-heading">Pony Stew</h5>
                            <p>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus
                                viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congu
                                e felis in faucibus.
                            </p>
                            <p class="muted timestamp null-margin">
                                11.10.2013 at 12:44
                                <span class="new-comment-link">| <strong class="text-info comment-trigger ">Add comment</strong></span>
                            </p>
                            <div class="comment-adding-part hidden">
                                <div class="post-comment-form well well-small">
                                    <p><strong>Add comment:</strong></p>
                                    <form>
                                        <textarea class="new-post-textarea new-comment-textarea first-comment-textarea" placeholder="Enter you comment here..."></textarea>
                                        <button class="btn btn-primary">Send</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="media">
                        <a class="pull-left post-author-img" href="#">
                            <img class="media-object thumbnail" src=http://f2.foto.rambler.ru/preview/c/64x64/431aa75b-c1ee-6ba7-b753-aa7c76b5cd31/world64x64.jpg>
                        </a>
                        <div class="media-body">
                            <h5 class="media-heading">Pony Stew</h5>
                            <p>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus
                                viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congu
                                e felis in faucibus.
                            </p>
                            <p class="muted timestamp null-margin">
                                11.10.2013 at 12:44
                                <span class="new-comment-link hidden">| <strong class="text-info">Add comemnt</strong></span>
                            </p>

                            <!-- Nested media object -->
                            <div class="media">
                                <a class="pull-left post-author-img" href="#">
                                    <img class="media-object thumbnail" src="http://i.lb.ua/036/35/phpO7pJiiXmge.jpg" />
                                </a>
                                <div class="media-body">
                                    <h5 class="media-heading">Pony Brew</h5>
                                    <p>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                        ante sollicitudin commodo. Cras purus odio.
                                    </p>
                                    <p class="muted timestamp null-margin">
                                        11.10.2013 at 12:44
                                    </p>
                                </div>
                            </div>

                            <div class="comment-adding-part new-comment_non-focused">
                                <div class="post-comment-form well well-small ">
                                    <p><strong>Add comment:</strong></p>
                                    <form>
                                        <textarea class="new-post-textarea new-comment-textarea" placeholder="Enter you comment here..."></textarea>
                                        <button class="btn btn-primary">Send</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left post-author-img" href="#">
                            <img class="media-object thumbnail" src=http://f2.foto.rambler.ru/preview/c/64x64/431aa75b-c1ee-6ba7-b753-aa7c76b5cd31/world64x64.jpg>
                        </a>
                        <div class="media-body">
                            <h5 class="media-heading">Pony Stew</h5>
                            <p>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus
                                viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congu
                                e felis in faucibus.
                            </p>
                            <p class="muted timestamp null-margin">
                                11.10.2013 at 12:44
                            </p>

                            <!-- Nested media object -->
                            <div class="media">
                                <a class="pull-left post-author-img" href="#">
                                    <img class="media-object thumbnail" src="http://i.lb.ua/036/35/phpO7pJiiXmge.jpg" />
                                </a>
                                <div class="media-body">
                                    <h5 class="media-heading">Pony Brew</h5>
                                    <p>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                        ante sollicitudin commodo. Cras purus odio.
                                    </p>
                                    <p class="muted timestamp null-margin">
                                        11.10.2013 at 12:44
                                    </p>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left post-author-img" href="#">
                                    <img class="media-object thumbnail" src="http://i.lb.ua/036/35/phpO7pJiiXmge.jpg" />
                                </a>
                                <div class="media-body">
                                    <h5 class="media-heading">Pony Brew</h5>
                                    <p>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                        ante sollicitudin commodo. Cras purus odio.
                                    </p>
                                    <p class="muted timestamp null-margin">
                                        11.10.2013 at 12:44
                                    </p>
                                </div>
                            </div>

                            <div class="comment-adding-part new-comment_non-focused">
                                <div class="post-comment-form well well-small ">
                                    <p><strong>Add comment:</strong></p>
                                    <form>
                                        <textarea class="new-post-textarea new-comment-textarea" placeholder="Enter you comment here..."></textarea>
                                        <button class="btn btn-primary">Send</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="media">
                        <a class="pull-left post-author-img" href="#">
                            <img class="media-object thumbnail" src=http://f2.foto.rambler.ru/preview/c/64x64/431aa75b-c1ee-6ba7-b753-aa7c76b5cd31/world64x64.jpg>
                        </a>
                        <div class="media-body">
                            <h5 class="media-heading">Pony Stew</h5>
                            <p>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus
                                viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congu
                                e felis in faucibus.
                            </p>
                            <p class="muted timestamp null-margin">
                                11.10.2013 at 12:44
                            </p>

                            <!-- Nested media object -->
                            <div class="media">
                                <a class="pull-left post-author-img" href="#">
                                    <img class="media-object thumbnail" src="http://i.lb.ua/036/35/phpO7pJiiXmge.jpg" />
                                </a>
                                <div class="media-body">
                                    <h5 class="media-heading">Pony Brew</h5>
                                    <p>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                                        ante sollicitudin commodo. Cras purus odio.
                                    </p>
                                    <p class="muted timestamp null-margin">
                                        11.10.2013 at 12:44
                                    </p>
                                </div>
                            </div>

                            <div class="comment-adding-part new-comment_non-focused">
                                <div class="post-comment-form well well-small ">
                                    <p><strong>Add comment:</strong></p>
                                    <form>
                                        <textarea class="new-post-textarea new-comment-textarea" placeholder="Enter you comment here..."></textarea>
                                        <button class="btn btn-primary">Send</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

          <div class="span3" id="group-page_side">
                    <div class="thumbnail" id="gourp-page_group-avatar">
                        <img class="" src="http://fs8.www.ex.ua/show/42312207/42312207.jpg?1600" />

                        <div class="group-page_group-actions">
                            <button class="btn btn-primary btn-large wide">Subscribe</button>
                        </div>
                    </div>

                    <div id="group-page_group-members-preview">
                        <div class="well-small well" id="group-page_group-members-caption">
                            <h5 class="text-info">Members</h5>
                            <p class="text-info">100500 members</p>
                        </div>

                        <ul class="thumbnails">
                            <li class="thumbnail">
                                <a href="/">
                                    <img src="http://f2.foto.rambler.ru/preview/c/64x64/431aa75b-c1ee-6ba7-b753-aa7c76b5cd31/world64x64.jpg" />
                                    <p class="muted text-center">Pony Stew</p>
                                </a>
                            </li>
                            <li class="thumbnail">
                                <a href="/">
                                    <img src="http://f2.foto.rambler.ru/preview/c/64x64/431aa75b-c1ee-6ba7-b753-aa7c76b5cd31/world64x64.jpg" />
                                    <p class="muted text-center">Pony Stew</p>
                                </a>
                            </li>
                            <li class="thumbnail">
                                <a href="/">
                                    <img src="http://f2.foto.rambler.ru/preview/c/64x64/431aa75b-c1ee-6ba7-b753-aa7c76b5cd31/world64x64.jpg" />
                                    <p class="muted text-center">Pony Stew</p>
                                </a>
                            </li>
                            <li class="thumbnail">
                                <a href="/">
                                    <img src="http://f2.foto.rambler.ru/preview/c/64x64/431aa75b-c1ee-6ba7-b753-aa7c76b5cd31/world64x64.jpg" />
                                    <p class="muted text-center">Pony Stew</p>
                                </a>
                            </li>
                            <li class="thumbnail">
                                <a href="/">
                                    <img src="http://f2.foto.rambler.ru/preview/c/64x64/431aa75b-c1ee-6ba7-b753-aa7c76b5cd31/world64x64.jpg" />
                                    <p class="muted text-center">Pony Stew</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div id="group-page_admins-section">
                        <div id="group-page_admins-caption" class="well well-small">
                            <h5 class="text-info">Admins</h5>
                            <p class="text-info">2 admins</p>
                        </div>
                        <div id="group-page_admins-info">
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object thumbnail" src="http://i.lb.ua/036/35/phpO7pJiiXmge.jpg" />
                                </a>
                                <div class="media-body">
                                    <h5 class="media-heading">Pony Brew</h5>
                                    <p class="muted">Angry Admin</p>
                                </div>
                            </div>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object thumbnail" src="http://i.lb.ua/036/35/phpO7pJiiXmge.jpg" />
                                </a>
                                <div class="media-body">
                                    <h5 class="media-heading">Pony Brew</h5>
                                    <p class="muted">Angry Admin2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script src="/Scripts/home.js" type="text/javascript">

</script>