@{
    
}
<div class="span8" id="message-overview">
    <div class="tabbable">
        <!-- Only required for left/right tabs -->
        <ul class="nav nav-pills">
            <li class="active"><a href="#tab1" data-toggle="tab">Income </a></li>
            <li><a href="#tab2" data-toggle="tab">Outcome</a></li>
        </ul>
        
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">

                <div class="media message">
                    <a class="pull-left " href="#">
                        <div style="display:inline-block;">
                            <img class="media-object thumbnail" style="display:inline;" src="http://i.lb.ua/036/35/phpO7pJiiXmge.jpg" />
                            <p class="text-center">Pinje</p>
                        </div>
                        <div class="message-page_middle-text message-page_message-time small" >
                            <p class="muted text-center null-margin">10.12.2014</p>
                            <p class="muted text-center null-margin">10:33</p>
                        </div>
                    </a>
                    <div class="media-body message-preview-text">
                        <p class="message-page_middle-text ">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                            ante sollicitudin commodo. Cras purus odio.n gravida nulla. Nulla vel metus scelerisque
                            ante sollicitudin commodo. Cras purus odio
                        </p>
                    </div>
                </div>
                <hr />
                <div class="media message">
                    <a class="pull-left " href="#">
                        <div style="display:inline-block;">
                            <img class="media-object thumbnail" style="display:inline;" src="http://i.lb.ua/036/35/phpO7pJiiXmge.jpg" />
                            <p class="text-center">Pinje</p>
                        </div>
                        <div class="message-page_middle-text small">
                            <p class="muted text-center null-margin">10.12.2014</p>
                            <p class="muted text-center null-margin">10:33</p>
                        </div>
                    </a>
                    <div class="media-body message">
                        <p class="message-page_middle-text">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                            ante sollicitudin commodo. Cras purus odio.n gravida nulla. Nulla vel metus scelerisque
                            ante sollicitudin commodo. Cras purus odio
                        </p>
                    </div>
                </div>
                <hr />
                <div class="media message">
                    <a class="pull-left " href="#">
                        <div style="display:inline-block;">
                            <img class="media-object thumbnail" style="display:inline;" src="http://i.lb.ua/036/35/phpO7pJiiXmge.jpg" />
                            <p class="text-center">Pinje</p>
                        </div>
                        <div class="message-page_middle-text small">
                            <p class="muted text-center null-margin">10.12.2014</p>
                            <p class="muted text-center null-margin">10:33</p>
                        </div>
                    </a>
                    <div class="media-body">
                        <p class="message-page_middle-text">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                            ante sollicitudin commodo. Cras purus odio.n gravida nulla. Nulla vel metus scelerisque
                            ante sollicitudin commodo. Cras purus odio
                        </p>
                    </div>
                </div>
                <hr />
                <div class="media message">
                    <a class="pull-left " href="#">
                        <div style="display:inline-block;">
                            <img class="media-object thumbnail" style="display:inline;" src="http://i.lb.ua/036/35/phpO7pJiiXmge.jpg" />
                            <p class="text-center">Pinje</p>
                        </div>
                        <div class="message-page_middle-text small">
                            <p class="muted text-center null-margin">10.12.2014</p>
                            <p class="muted text-center null-margin">10:33</p>
                        </div>
                    </a>
                    <div class="media-body">
                        <p class="message-page_middle-text">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                            ante sollicitudin commodo. Cras purus odio.n gravida nulla. Nulla vel metus scelerisque
                            ante sollicitudin commodo. Cras purus odio
                        </p>
                    </div>
                </div>
                <hr />
            </div>
            <div class="tab-pane" id="tab2">
                <div class="media message">
                    <a class="pull-left " href="#">
                        <div style="display:inline-block;">
                            <img class="media-object thumbnail" style="display:inline;" src="http://i.lb.ua/036/35/phpO7pJiiXmge.jpg" />
                            <p class="text-center">Pinje</p>
                        </div>
                        <div class="message-page_middle-text small">
                            <p class="muted text-center null-margin">10.12.2014</p>
                            <p class="muted text-center null-margin">10:33</p>
                        </div>
                    </a>
                    <div class="media-body">
                        <p class="message-page_middle-text">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                            ante sollicitudin commodo. Cras purus odio.n gravida nulla. Nulla vel metus scelerisque
                            ante sollicitudin commodo. Cras purus odio
                        </p>
                    </div>
                </div>
                <hr />
                <div class="media message">
                    <a class="pull-left " href="#">
                        <div style="display:inline-block;">
                            <img class="media-object thumbnail" style="display:inline;" src="http://i.lb.ua/036/35/phpO7pJiiXmge.jpg" />
                            <p class="text-center">Pinje</p>
                        </div>
                        <div class="message-page_middle-text small">
                            <p class="muted text-center null-margin">10.12.2014</p>
                            <p class="muted text-center null-margin">10:33</p>
                        </div>
                    </a>
                    <div class="media-body">
                        <p class="message-page_middle-text">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                            ante sollicitudin commodo. Cras purus odio.n gravida nulla. Nulla vel metus scelerisque
                            ante sollicitudin commodo. Cras purus odio
                        </p>
                    </div>
                </div>
                <hr />
                <div class="media message">
                    <a class="pull-left " href="#">
                        <div style="display:inline-block;">
                            <img class="media-object thumbnail" style="display:inline;" src="http://i.lb.ua/036/35/phpO7pJiiXmge.jpg" />
                            <p class="text-center">Pinje</p>
                        </div>
                        <div class="message-page_middle-text small">
                            <p class="muted text-center null-margin">10.12.2014</p>
                            <p class="muted text-center null-margin">10:33</p>
                        </div>
                    </a>
                    <div class="media-body">
                        <p class="message-page_middle-text">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                            ante sollicitudin commodo. Cras purus odio.n gravida nulla. Nulla vel metus scelerisque
                            ante sollicitudin commodo. Cras purus odio
                        </p>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>
</div> 
